* {
    margin: 0;
    padding: 0; 
}
#documentReady {
  position:absolute;
  border-radius: 25px;
  padding-left:6rem;
  padding-top:5px;
  background-color:black;
  color:white;
  width: 30rem;
  height: 4em;
  top:6em;
  left: 30vw;
  animation-name: muevase;
  animation-duration: 5s;;
}
.trasparent {
  background-color:transparent;
}
.borde {
  border-color: rgb(255, 255, 255);
  border-width: 5px;
}
.bg-black {
  background-color : black;
  border-color: rgb(255, 255, 255);
  border-width: 5px;
}
#pageContacto{
  background-image: url(..//images/backgroundcontacto.jpg);
  background-size: 200%;
}

#animLottie {
  width: 30%;
}
#logo:hover {
  display: initial;
  animation:none !important;
}

.card-body{
    padding-left: 10px;
    padding-right: 12px;
    padding-top: 10px;
    border-radius: 10%;
    margin-top: 5px;
}
.card {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 5%;
}
.card-text {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    border-radius: 5%;
}
div {
    padding-left: 5px;
}

#btnConvertor {
    background-color: transparent;
    align-items: center;
    justify-content: center;
}
#dark {
    border-radius: 20px !important;
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn {
    font-family: Raleway !important;
    text-decoration: none;
    background-color: rgb(29, 29, 29);
    border-radius: 25px;
    max-height: 40px;
}
a , .btn{
    font-family: Raleway !important;
    text-decoration: none;
    font-size: 14px;
    border-radius: 25px;
    max-height: 60px;
    }
  
a:hover {
    font-family: Raleway !important;
    font-weight: normal !important;
    background-color: #292929;
    animation-name: aColor;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
    border-radius: 35px; }
  
@keyframes aColor {
    from {
      filter: opacity(0%); }
    to {
      filter: opacity(100%);
      color: white;
      background-color: #292929; } }
  
#general {
    background-image: url(../images/background2.jpg);
    background-size: 160%;
    padding: 60px;
    padding-top: 50px;
    color: black;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px; }
  
body {
    color: black;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px; }

#newDiv {
  background-color: transparent;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
    /*-Fonts/Colors-*/
h1 {
  color: black;
  font-family: Raleway;
  font-size: 14pt;
  font-style: normal;
  font-weight: bold;
  line-height: 40px;
  word-spacing: 100px;
  letter-spacing: 100px;
  text-align: center;
  text-decoration: overline;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 40px;
  animation-name: muevase;
  animation-duration: 4s; }

@keyframes muevase {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*
.servicios__title {
    color: white;
}
*/
h2 {
  font-family: Raleway;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: 50px;
  word-spacing: 50px;
  text-align: center;
  text-decoration: overline;
  text-transform: uppercase;
  margin-bottom: 20px; }

h3 {
  font-family: Raleway;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 15.4px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 20px;
  letter-spacing: 10px;
  text-align: left; }



h4 {
  font-family: Raleway;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 13.4px;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center; }

h6 {
font-family: Raleway;
font-size: 12px;
font-style: normal;
font-variant: normal;
text-align: left ; }


p {
  font-family: Raleway;
  font-size: 13px;
  font-style: normal;
  font-variant: lighter;
  font-weight: 400;
  line-height: 20px; }

#logoPaypal {
  position: relative !important;
  top:20%
}

.pageContacto__label__h3 {
  text-align: left;
  font-weight: bolder;
  letter-spacing: 5px; }

#pageContacto__img {
  width: 30em;
  height: 30em;
  position: absolute;
  top: 153%;
  right: 10%;
  border-radius: 20px; }

#pageContacto__img2 {
  width: 30em;
  height: 30em;
  position: absolute;
  top: 35%;
  right: 10%;
  border-radius: 20px; }
#divMensajeEnviado {
  width: 400px;
  color: white;
  border-radius: 15px;
  padding: 10px;
  background-color: black;
}
  #forDatosUsuario{
    background-color: white;
    color: black;
    width: 20em;
    height: 15em;
    border-radius: 20px;
    padding: 10px;
  }
  .contacto_p {
    font-family: Raleway;
    font-size: 13px;
    font-style: normal;
    font-variant: lighter;
    font-weight: 400;
    line-height: 20px;
  }